<h1><%= _("Manage form fields") %></h1>

<% form_for :fields do |form| -%>
  <ul id="list_fomers" class="ui-accordion">
    <% FormerPluginFormField.all.each do |ff| %>
    <li class="form-accordion-line">
      <div class="title former-form-name"><%=ff.name%></div>
      <div id="form-content-<%=ff.identifier%>" class="content-form-accordion">
        <%= link_to_function _("Add field"), "field_add('#form-content-#{ff.identifier}','#{ff.identifier}', 'new', '', [] , false);"%>
        <span style="padding: 0 0 0 20px" id='<%=ff.identifier + '_status'%>'></span>
        <% javascript_tag do %>
          var label_names = ["<%= _("Add option")%>" ,"<%= _("Remove")%> ", "<%= _("Save changes")%>",
                             "<%= _("Field title")%>" , "<%= _("Field options")%>",
                             "<%=_("Are you sure you want to delete this option?")%>",
                             "<%=_("Are you sure you want to delete this field?")%>" ,
                             "<%=_("Required")%>" , "<%=_("Options empty")%>" ];
        <% end %>
        <% ff.fields.each do |f| %>
           <% puts f %>
          <% javascript_tag do %>
            field_add('#form-content-<%=ff.identifier%>','<%=ff.identifier%>', <%=f.id.to_s%>, '<%=f.name%>', <%= f.options.collect{|o| [o.id,o.name]}.to_json %> , '<%= f.required %>');
          <% end %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
<% end %>

