<h1><%= _("Manage form fields") %></h1>

<%= field_edit_intl_messages %>

<ul id="list_fomers" class="ui-accordion">
  <% FormerPluginFormField.all.each do |ff| %>
    <li class="form-accordion-line">
      <div class="title former-form-name"><%=_(ff.name)%></div>
      <div id="form-content-<%=ff.identifier%>" class="content-form-accordion">
        <%= link_to_function _("Add field"), field_edit_new_script("#form-content-#{ff.identifier}", ff) %>
        <span style="padding: 0 0 0 20px" id='<%=ff.identifier + '_status'%>'></span>
        <% ff.fields.each do |f| %>
          <%= field_edit_widget "#form-content-#{ff.identifier}", ff, f %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

